@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

.nav{
    height: 200px;
    color: black;
}
 
.nav_container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_photo{
    max-width: 1800px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.nav_photo h1{
    margin-left: 400px;
    text-align: center;
}
.nav_photo img{
    width: 250px;
    height: 200px;    
}
.nav_label, .nav_input{
    display: none;
}
.nav_label{
    font-size: 40px;
}

.nav_menu{
    margin-right: 300px;
}

.nav_menu .casita{
    font-size: 25px;
    padding: 0 15px;
    border-right: 1px solid rgb(90,90,90);
}
.nav_menu .nav_effect{
    --clippy: polygon(0 1%, 0 0, 0 100%, 0% 100%);
    
}

.nav_menu .nav_effect::after{
    content: "";
    display: block;
    background: rgb(225,198,119);
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav_menu .nav_effect:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_menu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav_menu ul li{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    transition: .5s all;
}

.nav_menu ul li a{
    color: rgb(92,91,91);
    text-decoration: none;
}

.nav_menu ul li .nav_effect::after{
    transition: .5s all;
}

.nav_menu ul li .nav_effect:hover{
    color: rgb(225,198,119);
}

.nav_menu ul li .nav_effect span{

    color: rgb(225,198,119);
 
}

/*carrusel*/

#carouselExampleFade{
    margin: 50px auto;
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: 800px;
}

/**/

.bienvenida{
    margin-top: 100px;
    margin-bottom: 20px;
}

.bienvenida >h1,.bienvenida > h2{
    text-align: center;
}

.presentacion{
    max-width: 1800px;
    margin: 70px auto;
}

.presentacion > p{
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
}

.servicios_container{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.servicios{
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 50px auto;
}

.servicios a{
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.servicios a:hover{
    color: white;
}

.servicios img{
    width: 600px;
    height: 450px;
} 

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barra{
    margin: auto;
    width: 10%;
    border-top: 5px solid rgb(225,198,119);
}
/**/



/*footer*/
 
footer{
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(90,90,90);
}
 
.footer_container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
 
.item_footer{
    margin: 50px;
}

.item_footer > a, .item_footer > p{
    display: block;
    font-size: 30px;
    margin: 20px auto;
    text-decoration: none;
    color: white;
}

.item_footer > a:hover{
    color: white;
}

.item_footer iframe{
    width: 400px;
    height: 350px;
}
 
.social_media{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.social_media a{
    padding: 15px;
    text-decoration: none;
    font-size: 45px;
 
}
 
.social_media a i{
    color: white;
    transition: .4s all;
}
 
.box_copyright hr{
    margin: 0 auto;
    width: 80%;
}
.box_copyright p{
    color: white;
    font-size: 25px;
    text-align: center;
}

@media (max-width: 800px){

    /*footer*/
    .carousel-item img{
        height: 400px;
    }

    .item_footer > a, .item_footer > p{
        font-size: 18px;
    }

    .item_footer > p{
        text-align: right;
    }

    .footer_container{
        width: 90%;
        margin: 10px auto;
    }

    .item_footer p{
        text-align: justify;
    }
}

@media screen and (max-width:1310px) {

    .nav_container{
        justify-content: space-around;
    }
    
    .nav_photo img{
        width: 200px;
        height: 150px;
    }
    .nav_label{
        display: block;
        cursor: pointer;
    }
    
    .nav_label{
        margin-left: 300px;
    }
    .nav_menu{
        position: fixed;
        top: 200px;
        bottom: 0;
        background-color: rgb(90,90,90);
        width: 100%;
        height: 40%;
        left: 0;
        z-index: 1000; 
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path .5s ease-in-out;  
    }

    .nav_menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav_menu .nav_effect, .nav_menu .casita{
        color: white;
    }
    .nav_input:checked + .nav_menu{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        transition: clip-path .5s ease-in-out;
    }
    .nav_menu ul li:first-child{
        margin-top: 50px;
    }

    .nav_menu ul li:last-child{
        margin-bottom: 100px;
    }
    
    .item_footer > a, .item_footer > p{
        font-size: 18px;
    }

    .item_footer > a{
        display: inline-block;
        padding: 0 10px;
    }

}
